.home-container {
  width: 100%;
  margin-top: -90px;

  /* position: relative; */
  overflow-x: hidden;
}
.home-banner {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img-carousel {
  height: 100vh;
  width: 100%;
  /* object-fit: cover; */
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  /* z-index: -1; */
}
.home-heading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.home-heading-left,
.home-heading-right {
  max-width: 600px;
}
.home-heading {
  font-size: 4rem;
  color: #000;
  margin-bottom: 90px;
  text-align: center;
}
.search-bar-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 400px; */
  /* margin-bottom: 20px; */
  padding: 10px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  /* background: rgba(0, 0, 0, 0.1); */
}
.search-bar-home .ant-input-affix-wrapper .ant-input {
  color: #ccc;
  /* background: transparent !important; */
}

span.ant-input-affix-wrapper.ant-input-affix-wrapper-lg.css-dev-only-do-not-override-3rel02.ant-input-outlined.search-home {
  border: none;
  background: transparent;
}
.search-bar-home .ant-input-affix-wrapper .ant-input::placeholder {
  color: #ccc;
}
/* .home-container .ant-carousel .slick-dots li button {
  height: 30px;
} */
/* ul.slick-dots.slick-dots-right {
  gap: 1rem;
}

ul.slick-dots.slick-dots-right li.slick-active button {
  background-color: rgba(255, 255, 255, 0.7);
}

} */
.carousel-slide {
  text-align: left;
}
.slick-slider.slick-initialized {
  margin-top: 20px;
  margin-bottom: -40px;
  height: 200px;
}
.carousel-slide h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.carousel-slide p {
  margin-right: 20px !important;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0;
}
