.home-container {
  width: 100%;
  margin-top: -90px;
  overflow-x: hidden;
}
.home-banner {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img-carousel {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.home-heading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.home-heading-left,
.home-heading-right {
  max-width: 600px;
  width: 100%;
}
h1.home-heading {
  font-size: 4rem;
  color: #000;
  margin-bottom: 90px;
  text-align: center;
}
.search-bar-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}
.search-bar-home .ant-input-affix-wrapper .ant-input {
  color: #ccc;
}

span.ant-input-affix-wrapper.ant-input-affix-wrapper-lg.css-dev-only-do-not-override-3rel02.ant-input-outlined.search-home {
  border: none;
  background: transparent;
}
.search-bar-home .ant-input-affix-wrapper .ant-input::placeholder {
  color: #ccc;
}
.carousel-slide {
  text-align: left;
}
.slick-slider.slick-initialized {
  margin-top: 20px;
  margin-bottom: -40px;
  height: 200px;
}
.carousel-slide h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.carousel-slide p {
  margin-right: 20px !important;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .home-heading-container {
    flex-direction: column;
    text-align: center;
  }

  .home-heading-left,
  .home-heading-right {
    max-width: 100%;
    width: 300px;
  }

  .home-heading {
    font-size: 3rem;
    margin-bottom: 60px;
  }

  .carousel-slide h3 {
    font-size: 1.25rem;
  }

  .carousel-slide p {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  h1.home-heading {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .search-bar-home {
    padding: 5px;
  }

  .search-bar-home .ant-input-affix-wrapper {
    /* margin-bottom: 10px; */
    padding: 10px;
  }

  .carousel-slide h3 {
    font-size: 1rem;
  }

  .carousel-slide p {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .home-heading {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .search-bar-home {
    padding: 0;
  }

  .carousel-slide h3 {
    font-size: 0.875rem;
  }

  .carousel-slide p {
    font-size: 0.625rem;
  }
}
