.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contact-form {
  max-width: 500px;
  width: 100%;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Set a fixed width for error message container */
.error-message {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
  color: red;
  font-size: 12px;
  font-style: italic;
}

.contact-info {
  max-width: 500px;
}

.contact-info h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 5px;
}
