.homeContainer {
  display: flex;
  width: 100%;
}
.fullVisualHome {
  margin: 0;
  padding: 0;
  position: relative;
  top: 16px;
  /* background-color: #f0f0f0; */
}
.halfVisualHome {
  position: relative;
  opacity: 0.3;
}
